/*
---------
Banner
--------
*/
.architect-banner {
    padding:2.5rem 1.5rem;
    background-color: var(--light-orange-color);
}

.architect-banner-head{
    margin:10vw 0 2vw;

}

.banner-body {
    max-width:825px;
    margin:auto;
}
.architect-banner-name {
    color:var(--dark-color);
}

.nav-link {
    display:inline-block;
    width:100%;
    color:var(--x-light-dark-color);
    text-align: right;
}

.banner-btn {
    margin-top:32px;
}

.banner-img-container {
    max-width: 1440px;
    margin:50px auto 40px;
}

.banner-img-container > img {
    width:100%;
}


/*
-------------
Main Section
------------
*/

.main-container, #architect-footer {
    max-width:1200px;
    margin:4vw auto 6vw;
}

.nav-container {
    justify-content: space-between;
}

.architect-intro {
    margin:6vw 0;
}
.architect-img-container img {
    max-width:100%;
    padding:10px;
}

.architect-features {
    padding:5px;
    align-content: center;
}

.architect-info {
    padding:24px 0;
}
.light-dark-txt {
    color: var(--light-dark-color);
}

.orng-txt {
    color:var(--primary-color);
}

.architect-description-feature {
    padding:0.6rem 2rem;
}

.architect-info-heading {
    border-left:5px solid var(--primary-color);
    padding-left:15px;
    margin:20px 0;
}

.feature-container {
    margin:10px 0;
    padding:1.875rem;
}

.feature-para {
    margin:10px 0;
}

.architect-facts-heading {
    max-width:400px ;
}
.architect-description-img-container {
    padding:0.675rem;
}
.architect-description-img-container img{
    max-width: 100%;
    margin:auto;
}

.experience-box {
    background-color: var(--primary-color);
    color:var(--light-color);
    padding:1vw;
    border-radius:5px;
    position:relative;
    bottom:3.5rem;
    right:3.5rem;
    width:25%;
}

@keyframes moving-box {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:25%; top:0px;}
    50%  {background-color:blue; left:50%; top:0px;}
    75%  {background-color:green; left:75%; top:0px;}
    100% {background-color:red; left:100%; top:0px;}
  }

#animation-box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: moving-box;
    animation-duration: 4s;
    animation-delay:2s;
    animation-iteration-count: infinite;
  }
  
  


.architect-facts {
    margin:6vw 0px;
    padding:0.675rem;
}

.architect-facts-card-container {
    padding:2.625vw;
}

.architect-card-box {
    display:inline-block;
    padding:2vw 1vw;
    border: 1px solid #FF900E;
    border-radius: 7px;
    transition:transform 3s ease;
}

.architect-card-box:hover {
    transform:scale(1.5);
    
}

.architect-sponsor {
    margin:6vw 0;
}

.architect-sponsor-heading {
    max-width:540px;
    margin:auto;
}

.architect-sponsor-logo-container {
    padding:2vw;
    margin:auto;
    justify-content: center;
}
.architect-sponsor-logo-container img {
    padding:4vw;
    max-width:100%;
}

#architect-footer {
    background-color: var(--light-orange-color);
    padding:2.5rem;
}

@media only screen and (max-width:575px) {
    .nav-link {
        text-align: center;
    }

    .experience-box {
        bottom:0px;
        right:0px;
        width:100%;
    }

    .architect-card-box {
        display:block;
        margin:1vw 0;
        width:100%;
        transition:background-color 3s ease;
    }

    .architect-card-box span {
        display:block;
    }
   
    .architect-card-box:hover {
        transform:scale(1);
        background-color: #FF900E;
        
    }
    .architect-facts-heading {
        max-width:400px ;
        margin:auto;
        text-align: center;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .architect-features{
       justify-content: center;
    }
    .experience-box {
        bottom:0px;
        right:0px;
        width:50%;
        margin:auto;
        text-align: center;
    }
    .architect-facts-heading {
        max-width:400px ;
        margin:auto;
        text-align: center;
    }
}